body {
	font-family: 'Helvetica Neue', Arial, sans-serif;
}

h1 {
	margin: 0px;
}

#esq {
	float: left;
	display: block;
	width: 600px;
	/*margin-top: -26px;*/
}

#dir {

}

#controls {
	clear: both;
	width: 960px;
	display: block;
	background-color: #f0f0f0;
	margin: 10px;
	padding: 10px;
}